<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="csrf-token" content={get_csrf_token()} />
    <.live_title default="WhaleChat" suffix=" · Phoenix Framework">
      {assigns[:page_title]}
    </.live_title>
    <link rel="icon" href="/favicon.ico" type="image/x-icon" />
    <link
      rel="preload"
      as="image"
      href="/stats/assets/background_product_pro.jpg"
      fetchpriority="high"
    />
    <link
      rel="preload"
      as="image"
      href="/stats/assets/whaletracker_logo.png"
      fetchpriority="high"
    />
    <link
      rel="preload"
      as="image"
      href="/stats/assets/wholesome2.gif"
      fetchpriority="high"
    />
    <link phx-track-static rel="stylesheet" href={~p"/assets/css/app.css"} />
    <script defer phx-track-static type="text/javascript" src={~p"/assets/js/phoenix.min.js"}>
    </script>
    <script
      defer
      phx-track-static
      type="text/javascript"
      src={~p"/assets/js/phoenix_live_view.min.js"}
    >
    </script>
    <script defer phx-track-static type="text/javascript" src={~p"/assets/js/app.js"}>
    </script>
  </head>
  <body>
    {@inner_content}
  </body>
</html>
